.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.portfolio__container img {
  height: 400px;
  width: 400;
}

article.portfolio__item {
  position: relative; /* Add position: relative for positioning absolute elements */
  border-radius: 2rem;
  border: 1px solid;
  background-color: rgb(154, 5, 253);
  padding: 5%;
  text-align: center;
  background-size: cover; /* Make the background image cover the entire container */
  background: url("https://getwallpapers.com/wallpaper/full/6/c/d/129192.jpg");
  background-position: center;
  background-repeat: none;
  border-color: #8a2be2; /* Neon purple color */
  border-width: 4px; /* Adjust the border width as needed */
}




.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  text-align: center;
  padding-top: 10%;
}

.portfolio__item-cta a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
}

/* ============== MEDIA Med DEVICES ======= */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== MEDIA Small DEVICES ======= */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
