.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.portfolio__container img {
  height: 400px;
  width: 400;
}
article.portfolio__item {
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  background-color: rgb(154, 5, 253);
  padding: 5%;
  text-align: center;
  background: url("https://static.vecteezy.com/system/resources/previews/030/678/816/non_2x/purple-texture-high-quality-free-photo.jpg");
  background-position: center;
}

.portfolio__item:hover {
  border-color: purple;
  backdrop-filter: blur(10px);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ============== MEDIA Med DEVICES ======= */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ============== MEDIA Small DEVICES ======= */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
