.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.experience__container > div {
  background: black;
  font-size: 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.experience__container > div:hover {
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  color: silver;
}

.experience__details {
  display: flex;
  color: silver;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
}

.experience_icons {
  text-align: center;
  letter-spacing: 2px;
}

.experience__frontend:hover {
  border-color: rgb(114, 13, 237);
  font-weight: bold;
  cursor: default;
  text-shadow: 0 0 10px #8a2be2, 0 0 20px #8a2be2, 0 0 30px #8a2be2;
  animation: neon-glow 3s infinite alternate;
}

.experience__backend:hover {
    border-color: rgb(114, 13, 237);
    font-weight: bold;
    cursor: default;
    text-shadow: 0 0 10px #8a2be2, 0 0 20px #8a2be2, 0 0 30px #8a2be2;
    animation: neon-glow 3s infinite alternate;
  }

@keyframes neon-glow {
  to {
    text-shadow: 0 0 5px #8a2be2, 0 0 10px #b5ca28, 0 0 35px #8a2be2;
  }
}

/* ============== MEDIA Med DEVICES ======= */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ============== MEDIA Small DEVICES ======= */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
